{% extends 'base/basepage.html' %}
{% load static %}
{% load render_partial %}
{% block cssblock %}

{% endblock %}
{% block content %}

    {# -------------------------------------------------------------- #}


    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2 class="text-center"> حساب کاربـری </h2>
                        <form action="#">

                            {% render_partial 'Accounts.views.partial_view' %}


                        </form>
                    </div><!--/login form-->
                </div>
                {#                <div class="col-sm-1">#}
                {#                    <h2 class="or">یا</h2>#}
                {#                </div>#}
                <div class="col-sm-6">
                    <div class="signup-form"><!--sign up form-->
                        <h2 class="text-center">افزودن ادرس <i class="fa fa-edit" aria-hidden="true"></i></h2>
                        <form action="" method="post">

                            {% csrf_token %}
                            <label style="color: #696763;" for="state">استان:</label>
                            <select name="state" onchange="show_cities()" id="state" style="margin-bottom: 5px;text-align: center;">
                            <option selected>-----</option>
                                {% for state in States %}
                                    <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                            <label style="color: #696763;" for="city">شهر:</label>
                            <select name="city"  readonly id="city" style="margin-bottom: 5px;text-align: center">
                            <option selected>-----------</option>
                                {% for city in Cities %}
                                    <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                            <br>
                        <label style="color: #696763;" for="state">کد پستی:</label>
                        <input name="post_code" style="text-align: left"  type="text" maxlength="9" minlength="9" name="code">
                        <label style="color: #696763;" for="state">ادرس دقیق:</label>
                        <textarea name="address" id="address" rows="5" ></textarea>
                        <p  style="color:{% if status %}green{% else %}red{% endif %}">{{ message }}</p>
                            <button style="margin-top: 10px" type="submit" class="btn btn-default">افزودن</button>
                        </form>
                    {% if status %}
                        <script>
                        swal.fire(
                            'آدرس با موفقیت افزوده شد.',
                            '',
                            'success'
                        )
                        </script>
                    {% endif %}
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
    <!--/form-->

{% endblock %}
{% block addscript %}
    <script>
    function show_cities(){

        var state=$('#state').find(":selected").val();
        $.get('editcity?state='+state).then(res=>{
            $('#city').html(res)
        })
    }
    </script>
{% endblock %}

































