{% extends 'base/basepage.html' %}
{% load static %}
{% load render_partial %}
{% block cssblock %}

{% endblock %}
{% block content %}

    {# -------------------------------------------------------------- #}


    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2 class="text-center">  <i class="fa fa-user"></i> حساب کاربـری </h2>
                        <form action="#">

                            {% render_partial 'Accounts.views.partial_view' %}


                        </form>
                    </div><!--/login form-->
                </div>
                {#                <div class="col-sm-1">#}
                {#                    <h2 class="or">یا</h2>#}
                {#                </div>#}
                <div class="col-sm-6">
                    <div class="signup-form"><!--sign up form-->
                        <h2 class="text-center">آدرس های من <i class="fa fa-edit" aria-hidden="true"></i></h2>
                        <form>
                            {% for address in Address %}
                            <div class="form-control  my-2">
                                <span href= style="color:#696763;" class="nav-link">{{ address.state }}_{{ address.city }} ... <i
                                        class="fa fa-address-card-o" aria-hidden="true"></i></span>
                             <a onclick="remove_address('{{ address.id }}')" class="pull-left btn" style="background: #fdb45e;color:#696763;padding: 1px !important;margin-right: 3px">حذف</a>
                             <a  href="{% url 'edit_address' id=address.id %}" class="pull-left btn" style="background: #9a9595; color:#696763;padding: 1px !important;">مشاهده و ویرایش</a>

                            </div>
                            {% endfor %}
                            <button  style="margin-top: 10px" class="btn btn-default"><a style="color : #696763" href="{% url 'add_address' %}">افزودن ادرس</a></button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
    <!--/form-->

{% endblock %}
{% block addscript %}
    <script>
      function remove_address(id){
          $.get('remove_address?id='+id).then(res=>{
              if(!res.status){
                  swal.fire(
                      'خطا در انجام عملیات',
                      '',
                      'error'
                  )
              }
              else {
                  window.location.reload()
              }
          })
      }
      function go_add_address(){
          window.location.href='http://127.0.0.1:8000/accounts/add_address';
      }
    </script>
{% endblock %}












